<div class="container d-flex justify-content-center align-items-center h-100">
  <div>
    <button class="btn btn-primary"><a class="btn-link link-light" href="/Products">Productos</a></button>
    <button class="btn btn-primary"><a class="btn-link link-light" href="/chat">Chat</a></button>
    <button class="btn btn-primary"><a class="btn-link link-light" href="/cart">Mi Carrito</a></button>
  </div>
</div>